<nav class='navbar navbar-expand bg-primary' id='nav'>
    <a class='navbar-brand ml-2' href='/'>
        {{! <img src='/images/logo.png' alt='logo' style='width: 40px' /> }}
        <h3 class='d-inline align-middle' id='navbar-name'>IMDb</h3>
    </a>
</nav>