<html lang='en'>
    <head>
        <link
            rel='stylesheet'
            href='assets/lib/bootstrap/css/bootstrap.min.css'
        />
        <link rel='stylesheet' href='assets/lib/font-awesome/css/all.css' />
        <script
            type='text/javascript'
            src='assets/lib/filesaver/FileSaver.js'
        ></script>
        <script
            type='text/javascript'
            src='assets/lib/popper/popper.js'
        ></script>
        <script
            type='text/javascript'
            src='assets/lib/jquery/jquery-3.6.0.js'
        ></script>
        <script
            type='text/javascript'
            src='assets/lib/bootstrap/js/bootstrap.bundle.min.js'
        ></script>
        <title>Document</title>
    </head>
    <body>
        
        <div>
            <form action='/create'>
                <div class='form-group'>
                    <label for='email'>Email address:</label>
                    <input type='email' class='form-control' id='email' />
                </div>
                <div class='form-group'>
                    <label for='pwd'>Password:</label>
                    <input type='password' class='form-control' id='pwd' />
                </div>
                <div class='checkbox'>
                    <label><input type='checkbox' /> Remember me</label>
                </div>
                <button type='submit' class='btn btn-default'>Submit</button>
            </form>
        </div>
        <h1>Create</h1>

    </body>
</html>