<html lang='en'>
    <head>
        <link rel='stylesheet' href='../assets/lib/bootstrap/css/bootstrap.min.css' />

        <link rel='stylesheet' href='../assets/lib/font-awesome/css/all.css' />
        <link rel='stylesheet' href='../assets/styles/index.css' />

        <script type='text/javascript' src='../assets/lib/popper/popper.js'></script>
        <script type='text/javascript' src='../assets/lib/jquery/jquery-3.6.0.js'></script>
        <script type='text/javascript' src='../assets/lib/bootstrap/js/bootstrap.bundle.min.js'></script>

        <script type='text/javascript' src='../assets/scripts/index.js'></script>
        <title>Database Reports</title>
    </head>
    <body>
        <div class='container h-100 w-100 p-5'>
            <h1>Text-based Reports</h1>

            <h3>Total Movie Count</h3>
            <h3>Number of Movies by Genre</h3>
            <h3>Average Rating by Genre</h3>
            <h3>Number of Movies by Year</h3>
            <h3>Number of Movies by Genre</h3>
            <h3>Yearly Number of Movies by Genre</h3>
        </div>
    </body>
</html>