.movie-item {
    cursor: pointer;
}

.movie-item:hover {
    background-color: rgba(80, 102, 134, 0.1);
    transition: 0.2s;
}

.report {
    max-height: 20em;
    margin-bottom: 3em;
    overflow-y: scroll;
}

.report-header {
    color: #007bff;
}

.report-item {
}

.report-value {
    color: #17a2b8;
}

.report-empty {
    color: #dc3545;
}